.todo-list-wrapper {
  margin: 50px 0;
}
.list-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--listBG);
  padding: 10px 15px;
  border-radius: 5px;
}
.dark .list {
  background: rgba(47, 42, 42, 0.35);
  box-shadow: 0 2px 15px 0 var(--shadow-dark);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgba(255, 255, 255, 0.8);
}
/* .list-area .list input{
 width: 100%;
  height: 100%;
  border: none;
  padding: 10px 0 ;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
} */
.list p {
  width: calc(100% - 45px);
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.list span {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  font-size: 20px;
  font-weight: 780;
  color: var(--clr-todo-yellow);
  /* background-color: var(--clr-todo-yellow); */
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.dark .list span {
  color: var(--clr-white);
}

@media only screen and (max-width: 650px) {
  .list-area {
    grid-template-columns: 1fr;
  }
}
